<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--注册bean-->
    <bean id="serviceImpl" class="com.qin.service.ServiceImpl"/>
    <bean id="logDemo" class="com.qin.log.LogDemo"/>

    <!--方式一：使用Spring原生API接口-->
    <!--<aop:config>
        &lt;!&ndash;切入点&ndash;&gt;
        <aop:pointcut id="pointcut" expression="execution(* com.qin.service.ServiceImpl.*(..))"/>
        &lt;!&ndash;执行环绕&ndash;&gt;
        &lt;!&ndash;把log执行方法切入到 expression="execution(* com.qin.service.ServiceImpl.*(..))"&ndash;&gt;
        <aop:advisor advice-ref="logDemo" pointcut-ref="pointcut"/>
    </aop:config>-->

    <!--方式二-->
    <!--自定义切面-切面编程-->
    <!--<bean id="diyPointCut" class="com.qin.diy.DiyPointCut"/>
    <aop:config>
        <aop:aspect ref="diyPointCut">
            <aop:pointcut id="pointcut" expression="execution(* com.qin.service.ServiceImpl.*(..))"/>
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>-->

    <!--方式三-->
    <bean id="annotationPointCut" class="com.qin.AnnotationPointCut"/>
    <aop:aspectj-autoproxy/>
</beans>